@charset "utf-8";

body {
  position:fixed; width:100%; height:100vh;
  font-family: 'Orbitron', sans-serif; font-size:15px; background:#111;
}
.container {position:fixed; width:100%; height:100vh; perspective:800px;}

/*===== trigger btn =====*/
.btnMenu {
  position:fixed; left:50px; top:50px; width:30px; height:30px;
  font-size:32px; color:#F6F6F6; text-align:center; line-height:30px;
  animation:aniBtn 0.6s infinite alternate; z-index:9;
}

@keyframes aniBtn {
  0% {transform:scale(1); opacity:1; color:#F6F6F6;}
  100% {transform:scale(1.2); opacity:0.85; color:#888;}
}



/*===== nav =====*/
nav {
  position:fixed; width:150px; height:100%;
  background:#E4E4E4; opacity:0;
  transform-origin:left center; transform:rotateY(120deg);
  transition:all 0.8s ease; z-index:1;
}
nav.on {transform:rotateY(15deg); opacity:1;}
h1 {position:absolute; left:50%; top:80px; width:100px; margin-left:-50px;}
h1 img {width:100%;}
nav ul {position:absolute; left:0; top:45%; width:100%;}
nav a {
  width:100%; height:50px;
  font-size:18px; color:#111; text-align:center; line-height:50px;
  text-transform:capitalize; transition:all 0.4s ease;
}
nav a:hover {color:#F6F6F6; background:#000;}



/*===== section =====*/
section {
  position:fixed; width:100%; height:100%;
  transform-origin:right center; transition:all 0.5s ease-in;
}
section.on {transform:rotateY(-10deg);}

section > div {position:absolute; width:100%; height:100%;}
section > div.on {z-index:3;}

section > div > p {
  float:left; display:flex; justify-content:center; align-items:center;
  width:25%; height:25%; overflow:hidden;
  transform:rotateY(360deg); transition:all 0.8s ease-in-out;
}
section > div.on > p {transform:rotateY(0deg);}


/*===== box1 =====*/
.box1 > p:nth-child(1) {width:50%; background:#020938;}
.box1 > p:nth-child(2) {
  background:#444 url(../imgs/m1.jpg) no-repeat right center;
  background-size:cover;
}
.box1 > p:nth-child(3) {background:#555;}

.box1 > p:nth-child(4) {
  float:right; width:50%; height:50%;
  background:#444 url(../imgs/m2.jpg) no-repeat center center;
  background-size:cover;
}
.box1 > p:nth-child(5) {float:right; background:#555;}
.box1 > p:nth-child(6) {
  float:right; background:#444 url(../imgs/m3.jpg) no-repeat center center;
  background-size:cover;
}
.box1 > p:nth-child(7) {float:right; background:#000;}
.box1 > p:nth-child(8) {
  float:right; background:#444 url(../imgs/m4.jpg) no-repeat center center;
  background-size:cover;
}

.box1 > p:nth-child(9) {background:#222;}
.box1 > p:nth-child(10) {
  width:50%; background:#444 url(../imgs/m5.jpg) no-repeat center center;
  background-size:cover;
}
.box1 > p:nth-child(11) {background:#020938;}



/*===== box2 =====*/
.box2 > p:nth-child(1) {background:#444;}
.box2 > p:nth-child(2) {
  background:#000 url(../imgs/w1.jpg) no-repeat center center;
  background-size:cover;
}
.box2 > p:nth-child(3) {width:50%; background:#470129;}

.box2 > p:nth-child(4) {
  height:50%; background:#000 url(../imgs/w2.jpg) no-repeat center center;
  background-size:cover;
}
.box2 > p:nth-child(5) {
  width:50%; height:50%;
  background:#000 url(../imgs/w3.jpg) no-repeat center center;
  background-size:cover;
}
.box2 > p:nth-child(6) {
  background:#000 url(../imgs/w4.jpg) no-repeat center center;
  background-size:cover;
}
.box2 > p:nth-child(7) {background:#666;}

.box2 > p:nth-child(8) {background:#470129;}
.box2 > p:nth-child(9) {
  background:#000 url(../imgs/w5.jpg) no-repeat center center;
  background-size:cover;
}
.box2 > p:nth-child(10) {
  background:#000 url(../imgs/w6.jpg) no-repeat center center;
  background-size:cover;
}
.box2 > p:nth-child(11) {
  background:#000 url(../imgs/w7.jpg) no-repeat center center;
  background-size:cover;
}


/*===== box3 =====*/
.box3 > p:nth-child(1) {
  width:50%; height:100%;
  background:#000 url(../imgs/k1.jpg) no-repeat center center;
  background-size:cover;
}

.box3 > p:nth-child(2) {background:#555;}
.box3 > p:nth-child(3) {
  background:#000 url(../imgs/k2.jpg) no-repeat center center;
  background-size:cover;
}

.box3 > p:nth-child(4) {width:50%; background:#383701;}

.box3 > p:nth-child(5) {
  height:50%;
  background:#000 url(../imgs/k3.jpg) no-repeat center center;
  background-size:cover;
}
.box3 > p:nth-child(6) {background:#666;}
.box3 > p:nth-child(7) {
  background:#000 url(../imgs/k4.jpg) no-repeat center center;
  background-size:cover;
}


/*===== contents =====*/
/* text */
strong, span {display:block; width:100%; text-align:center; text-transform:capitalize;}
strong {font-size:50px; color:#F6F6F6; line-height:40px;}
span {font-size:20px; color:#F2F2F2;}

/* sns icons */
p > a {float:left; margin:0 10px;}
p > a > i {font-size:28px; color:#F2F2F2; opacity:0.75; transition:all 0.3s ease;}
p > a > i:hover {opacity:1;}

/* video */
video {width:100%; height:100%;}
